:root {
  --text-roboto-slab: "Roboto Slab", serif;
  --body-background-color: #0a0908;
  --text-color-main: #eae0d5;
  --text-shadow-main: #22333b;
}
* {
  margin: 0;
  padding: 0;
  color: var(--text-color-main);
}
html {
  font-size: calc(15px + 0.390625vw);
}

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  padding-bottom: 1rem;
}

ul {
  list-style: none;
}

.hero-image {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/headshot.jpg);
  /* height: 50%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  color: var(--text-color-main);
  font-family: var(--text-roboto-slab);
}

.hero-text h1 {
  font-weight: 400;
  font-size: calc(32px + 0.390625vw);
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px var(--text-shadow-main);
}

.hero-text p {
  font-size: 1.2em;
  text-shadow: 2px 2px 4px var(--text-shadow-main);
  margin-bottom: 15px;
}
.header-icons-list {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

main {
  width: 90%;
  margin: 0 auto;
}

.video-container {
  background-color: #131313;

  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 1rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* .video-section,
.video-wrapper1,
.video-wrapper2,
.video-container {
  width: 100%;
  margin: 0 auto;
} */
footer {
  padding-bottom: 10px;
}
.footer-links {
  display: flex;
  margin-bottom: 5px;
}

.footer-icon {
  margin-right: 20px;
}

/* grid */

@media (min-width: 900px) {
  .video-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    grid-auto-rows: auto;
    grid-template-areas:
      "video1 video1 video1 video1"
      "video2 video2 video2 video2"
      "video3 video3 video4 video4"
      "video5 video5 video6 video6";
  }
  #videoOne {
    grid-area: video1;
  }
  #videoTwo {
    grid-area: video2;
  }
  #videoThree {
    grid-area: video3;
  }
  #videoFour {
    grid-area: video4;
  }
  #videoFive {
    grid-area: video5;
  }
  #videoSix {
    grid-area: video6;
  }
  .video-container {
    max-height: 700px;
  }
}

/* start animation */

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  padding-bottom: 1rem;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-text h1 {
  animation-name: fadeInH1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeInH1 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-icons-list {
  animation: fadeInIcons 3.5s ease-in-out;
}

@keyframes fadeInIcons {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-text p {
  animation: fadeInP 5s ease-in-out;
}
@keyframes fadeInP {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
